/images
#Temporary(Will be deleted later)
/NodeJS/Agency/models/Image.js
/NodeJS/Agency/without_node
/NodeJS/Agency/public
/NodeJS/Agency/models/node_modules
/NodeJS/PCAT/models/Image.js
/NodeJS/PCAT/without_node
/NodeJS/PCAT/models/node_modules
/NodeJS/**/node_modules